@{
    Layout = "~/Views/Shared/_Menu_Layout.cshtml";

    List<NewAndProduct> data = new List<NewAndProduct>();
    if (!string.IsNullOrEmpty(ViewBag.Data))
    {
        data = Newtonsoft.Json.JsonConvert.DeserializeObject<List<NewAndProduct>>(ViewBag.Data);
    }
}


<div class="container">
    <div class="news-list">
        <div class="row">
            @foreach (NewAndProduct temp in data)
            {
                string img = string.IsNullOrEmpty(temp.Img) ? "" : Url.Content(temp.Img);
                string title = string.IsNullOrEmpty(temp.Title) ? "" : temp.Title;
                string detail = temp.Detail == null ? "" : temp.Detail;

                <div class="col-sm-6">
                    <a href="@Url.Content("~/Home/NewDetail?id="+temp.Id)" class="news-box">
                        <div class="cover" style="background-image:url(@img) ;"></div>
                        <div class="content">
                            <div class="title">
                                @title
                            </div>
                            <div class="detail">@detail</div>
                            <div class="more">more</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div><!-- news-list -->
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="@Url.Content("~/Home/New?page=1")" aria-label="Previous">
                    <span aria-hidden="true">&laquo;第一页</span>
                </a>
            </li>

            @{
                for (int i = 1; i <= ViewBag.AllPage; i++)
                {
                    string active = i == ViewBag.NowPage ? "active" : "";
                    if (i >= ViewBag.NowPage - 3 && i <= ViewBag.NowPage + 3)
                    {
                        <li class="@active"><a href="@Url.Content("~/Home/New?page="+ i)">@i</a></li>
                    }
                }
            }
            <li>
                <a href="@Url.Content("~/Home/New?page="+ ViewBag.AllPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;最后一页</span>
                </a>
            </li>
        </ul>
    </div>

</div>