@{
    Layout = "~/Views/Shared/_Manager_Layout.cshtml";
    string action_name = ViewContext.RouteData.Values["action"].ToString().ToLower();

    Setting data = ViewBag.Data == null ? null : Newtonsoft.Json.JsonConvert.DeserializeObject<Setting>(ViewBag.Data);
    string content = "";
    if (data != null)
    {
        content = data.Content == null ? "" : data.Content;
    }
    string alert_message = ViewBag.AlertMessage;
}


@section add_css{
    <link rel=stylesheet type=text/css href="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/themes/default/css/ueditor.min.css")" />
}

@section add_scripts{
    <script src="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/ueditor.config.js")"></script>
    <script src="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/ueditor.all.min.js")"></script>
    <script src="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/lang/zh-cn/zh-cn.js")"></script>
    <script src="@Url.Content("~/Content/Js/common.js")"></script>
    <script src="@Url.Content("~/Content/Js/manager-ueditor.js")"></script>
    <script>
        var content = "@content";

        //弹出消息
        var alert_message = "@alert_message";
        if (alert_message != "") {
            alert(alert_message);
            alert_message = "";
        }
    </script>
}

@using (Html.BeginForm("ContactPost", "Manager", FormMethod.Post, new { autocomplete = "off" }))
{
    <div class="container">
        <h3 class="page-header">联系我们</h3>
        <script type="text/plain" id="myEditor" style="width:100%;height:400px;">
        </script>
        <input type="hidden" name="save_content" />
        <input type="hidden" name="type" value="@action_name" />
        <hr />
        <p>
            <button name="save" type="submit" class="btn btn-primary">　保存　</button>
        </p>
    </div>
}