@{
    Layout = "~/Views/Shared/_Manager_Layout.cshtml";
    Setting data = Newtonsoft.Json.JsonConvert.DeserializeObject<Setting>(ViewBag.Data);

}

@section add_css{
    <link rel=stylesheet type=text/css href="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/themes/default/css/ueditor.min.css")" />
}

@section add_scripts{
    <script src="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/ueditor.config.js")"></script>
    <script src="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/ueditor.all.min.js")"></script>
    <script src="@Url.Content("~/Content/Lib/ueditor1_4_3_3-utf8-net/lang/zh-cn/zh-cn.js")"></script>
    <script src="@Url.Content("~/Content/Js/common.js")"></script>
    <script src="@Url.Content("~/Content/Js/manager-introduction.js")"></script>
    <script>
        var content = "@data.Content";
    </script>
}

@using (Html.BeginForm("IntroductionPost", "Manager", FormMethod.Post, new { autocomplete = "off" }))
{
    <div class="container">
        <h3 class="page-header">公司简介</h3>
        <script type="text/plain" id="myEditor">
        </script>
        <input type="hidden" name="save_content" />
        <input type="hidden" name="type" value="introduction" />
        <hr />
        <p>
            <button name="save" type="submit" class="btn btn-primary">　保存　</button>
        </p>
    </div>
}



