@{
    Layout = "~/Views/Shared/_Manager_Layout.cshtml";

    string action_name = ViewContext.RouteData.Values["action"].ToString().ToLower();

    List<NewAndProduct> data = new List<NewAndProduct>();
    if (!string.IsNullOrEmpty(ViewBag.Data))
    {
        data = Newtonsoft.Json.JsonConvert.DeserializeObject<List<NewAndProduct>>(ViewBag.Data);
    }
}
@section add_css{
    <style>
        table td{vertical-align:middle!important}
    </style>
}

<div class="container">
    <h3 class="page-header">
        <a href="@Url.Content("~/Manager/ShowEdit")" class="btn btn-success pull-right">　＋ 添加展示产品　</a>
        产品展示
    </h3>
    <table class="table table-striped table-bordered">
        <thead>
            <th align="center">封面</th>
            <th width="50%">标题</th>
            <th align="center">创建时间</th>
            <th>操作</th>
        </thead>
        @{
            foreach (NewAndProduct temp in data)
            {
                string img = string.IsNullOrEmpty(temp.Img) ? "" : Url.Content(temp.Img);
                string title = string.IsNullOrEmpty(temp.Title) ? "" : temp.Title;
                string  addTime = temp.AddTime == null ? "" : temp.AddTime.ToString("yyyy-MM-dd HH:mm:ss");

                <tr>
                    <td style="text-align:center">
                        <img src="@img" style="height:80px;width:80px">
                    </td>
                    <td>@title</td>
                    <td>@addTime</td>
                    <td>
                        <a href="@Url.Content("~/Manager/ShowEdit?id="+temp.Id)"><i class="glyphicon glyphicon-edit"></i> </a>
                        <a href="@Url.Content("~/Manager/ShowDelete?id="+temp.Id)" onClick="return confirm('确定删除?');"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </table>
    <div class="pager-nav">
        <span class="pull-right" style="padding-top:10px">
            @{@ViewBag.NowPage}/@{@ViewBag.AllPage}页,共@{@ViewBag.AllCount}条
        </span>
        <ul class="pagination">
            <li >
                <a href="@Url.Content("~/Manager/Show?page=1")" aria-label="Previous">
                    <span aria-hidden="true">&laquo;第一页</span>
                </a>
            </li>
            @{
                for (int i = 1; i <= ViewBag.AllPage; i++)
                {
                    string active = i == ViewBag.NowPage ? "active" : "";
                    if (i >= ViewBag.NowPage - 3 && i <= ViewBag.NowPage + 3)
                    {
                        <li class="@active"><a href="@Url.Content("~/Manager/Show?page=" + i)">@i</a></li>
                    }
                }
            }
            <li>
                <a href="@Url.Content("~/Manager/Show?page=" + ViewBag.AllPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;最后一页</span>
                </a>
            </li>
        </ul>
    </div>
</div>